<h5>Company</h5>
<ul class="list-unstyled">
	<li class="mb-2">
		<a href="{% link jobs.html %}">
			<span class="username">Jobs</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="{% link posts.html %}">
			<span class="username">News & Post</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="{% link about.html %}">
			<span class="username">About Us</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="{% link contact-us.html %}">
			<span class="username">Contact Us</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="{% link cookies_privacy.html %}">
			<span class="username">Privacy policy</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="{% link terms-of-use.html %}">
			<span class="username">Terms of use</span>
		</a>
	</li>
</ul>
