---
title: Posts

layout: landing
permalink: /posts/
---

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<section classs="container-fluid py-5">
	<div class="container p-5">
		{%- if posts.size > 0 -%}
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		{%- if page.list_title -%}
		<h2 class="post-list-heading">{{ page.list_title }}</h2>
		{%- endif -%}


		<div class="row row-cols-1 row-cols-md-3 g-4">
			{%- for post in posts -%}
			<div class="col">
				<div class="card h-100">
					{%- if post.banner -%}
					<img src="{{ post.banner | relative_url }}" 
						class="card-img-top" 
						alt="{{ post.title | escape }}">
					{%- else -%}
					<img src="{{ '/assets/images/post-banner-default.svg' | relative_url }}" 
						class="card-img-top" 
						alt="{{ post.title | escape }}">
					{%- endif -%}
					<div class="card-body">
						<h5 class="card-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h5>
						<span class="">{{ post.date | date: date_format }}</span>
						<p class="card-text">{{ post.description | truncate: 500 | escape }}</p>
					</div>
				</div>
			</div>
			{%- endfor -%}
		</div>


		{% if site.paginate %}
		<div class="row">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					{%- if paginator.previous_page %}
					<li class="page-item">
						<a class="page-link" 
							href="{{ paginator.previous_page_path | relative_url }}" 
							aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{%- endif %}
					<li><div class="current-page">{{ paginator.page }}</div></li>
					{%- if paginator.next_page %}
					<li class="page-item">
						<a class="page-link" 
							href="{{ paginator.next_page_path | relative_url }}" 
							aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					 {%- endif %}
				</ul>
			</nav>
		</div>
		{%- endif %}

	{%- endif -%}
	</div>
</section>
