<h5>Company</h5>
<ul class="list-unstyled">
	<li class="mb-2">
		<a href="/team">
			<span class="username">Team</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="/jobs">
			<span class="username">Jobs</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="/contact-us">
			<span class="username">Contact Us</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="/glossary">
			<span class="username">Glossary</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="/blog">
			<span class="username">Blog</span>
		</a>
	</li>
</ul>
