---
layout: default
---

 
<section class="container-fluid">
	<div class="container py-5 my-5 rounded shadow"
		id="staking-info">
		<div class="row">
			<div class="col-12 d-flex flex-column align-items-center">
				<img src="{{ page.icon | relative_url }}"
					width="64px"
					height="64px">
				<h2>{{ page.title }}</h2>
				<p>{{ page.staking.apr }}% </p>
				<p>Annual percentage rate (APR)</p>
				<p>{{ page.validator.reward.percentage }}% {{ site.title }} fee</p>
			</div>
		</div>
		<div class="row">
			{%- for wallet in page.competitors.genz.wallets -%}
			<div class="col-12 d-flex flex-row align-items-stretch alert alert-secondary"
				role="alert">
				<spam class="flex-fill text-truncate">{{ wallet.address }}</spam>
				<button class="btn align-self-end"
					onclick="copyAddressToClipboard('{{wallet.address}}')">
					<i class="far fa-copy"></i>
				</button>
			</div>
			{%- endfor -%}
		</div>
		<div class="row">
			<a href="#latest-blog">How to delegate?</a>
		</div>
	</div>
</section>

<script type="application/json" id="network-data">
{
	"title": {{ page.title | jsonify }},
	"description": {{ page.description | jsonify }},
	"icon": {{ page.icon | relative_url  | jsonify }},
	"url":  {{ page.url | relative_url  | jsonify }},
	"network": {{ page.network | jsonify }},
	"sites": {{ page.sites | jsonify }},
	"staking": {{ page.staking | jsonify }},
	"validator": {{ page.validator | jsonify }},
	"competitors": {{ page.competitors | jsonify }}
}
</script>
<section class="container-fluid" id="app-staking-reward-calculator"></section>
<script src="{{ '/assets/js/app-staking-reward-calculator.js' | relative_url }}"></script>

{{ content }}


<script>
function copyAddressToClipboard(address) {
	// Copy the text inside the text field
	navigator.clipboard.writeText(address);
	
	// Alert the copied text
	var alert = document.getElementById("clipboard-alert");
	if (alert.style.display === "block") {
		alert.style.display = "none";
	} else {
		alert.style.display = "block";
		alert.style.opacity = "1";
	}
} 
</script>
<div class="alert alert-warning alert-dismissible fade position-absolute bottom-0 end-0 " 
	role="alert" 
	id="clipboard-alert">
	<strong id="showText"></strong> Address is copied
 </div>
 